/* --------------------------------

Main content

-------------------------------- */
html, body {
  font-family: 'myFont', sans-serif;
  background-color: #66cda7; }

@font-face {
  font-family: myFont;
  src: url(../font/brandon_med.otf); }
h1 {
  font-size: 5rem;
  font-family: 'myTitle', sans-serif; }

@font-face {
  font-family: myTitle;
  src: url(../font/brandon_bld.otf); }
h3 {
  font-size: 2.4rem;
  line-height: 1.2;
  color: #000;
  margin-top: 1em; }

@media only screen and (min-width: 979px) {
  h3 {
    font-size: 1.6rem;
    margin-top: 0.5em; } }
a:hover {
  text-decoration: none;
  color: #337ab7; }

.cd-hero p {
  font-size: 1.7rem;
  letter-spacing: 9px;
  line-height: 2.4; }

.cd-full-width img {
  position: relative;
  top: -100px; }

@media only screen and (max-width: 1170px) {
  .cd-full-width img {
    width: 200px;
    position: relative;
    left: 50px;
    top: -140px; } }
@media only screen and (max-width: 979px) {
  .cd-full-width img {
    width: 180px;
    position: relative;
    top: 50px;
    left: 60px; } }
@media only screen and (max-width: 753px) {
  .cd-full-width img {
    width: 180px;
    position: relative;
    top: -50px;
    left: 60px; } }
/* m a i n - c o n t e n t */
.cd-main-content {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
  padding: 2em 0;
  padding-top: 180px;
  padding-bottom: 130px; }

.cd-main-content > div {
  /* vertically align <div> inside <section> */
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.cd-main-content p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #999999;
  letter-spacing: 0.8px;
  text-align: left; }

.bianco p {
  color: #EBFFF4; }

.cd-main-content h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  color: #EBFFF4;
  margin: 2em 0;
  letter-spacing: 0.8px; }

@media only screen and (min-width: 979px) {
  .cd-main-content h2 {
    font-size: 2.4rem;
    margin: 2.5em 0 1em 0;
    text-align: right; } }
#about {
  background-color: #66cda7;
  height: 100%; }

#products {
  background-color: #fff; }

#contacs {
  height: 20px; }

/* p r o d u c t s */
.padding-top {
  padding-top: 80px; }

@media only screen and (min-width: 992px) {
  .padding-top {
    padding-top: 110px; } }
.padding-top-2 {
  padding-top: 20px; }

@media only screen and (min-width: 992px) {
  .padding-top {
    padding-top: 80px; } }
.cd-main-content-products {
  display: table;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 130px; }

.cd-main-content-products > div {
  /* vertically align <div> inside <section> */
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

a.trigger {
  visibility: hidden; }

@media only screen and (min-width: 992px) {
  a.trigger {
    visibility: visible; } }
#products .image-hover {
  right: 0;
  margin: 0 0 15px; }

#products .image-hover .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px; }

@media only screen and (min-width: 992px) {
  #products .image-hover .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24, 188, 156, 0.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s; } }
#products .image-hover .portfolio-link .caption:hover {
  opacity: 1; }

#products .image-hover .portfolio-link .caption .caption-content {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  color: #2c343b; }

@media only screen and (min-width: 992px) {
  #products .image-hover .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff; } }
#products .image-hover .portfolio-link .caption .caption-content i {
  margin-top: -12px; }

#products .image-hover .portfolio-link .caption .caption-content h3,
#products .image-hover .portfolio-link .caption .caption-content h4 {
  margin: 0; }

#products * {
  z-index: 2; }

@media (min-width: 767px) {
  #products .image-hover {
    margin: 0 0 30px; } }
/*i m g - h o v e r - e f f e c t */
/*.image-hover img{
  border: 0px;
}
@media only screen and (min-width: 992px){
  .image-hover img{
    border: 20px solid #f2f2f2;
  }
}*/
.image-hover {
  position: relative;
  padding: 0px;
  text-align: center; }

@media only screen and (min-width: 992px) {
  .image-hover {
    /*      position: absolute;*/
    padding: 20px; } }
.image-hover:hover {
  position: relative;
  background-image: none; }

@media only screen and (min-width: 992px) {
  .image-hover:hover {
    /*    position: absolute;*/
    background-image: url(../img/svg/pattern.svg);
    background-size: 300px; } }
/* m o d a l */
.portfolio-modal .modal-content {
  /*  background: #402f44 url(../img/modal-bg.jpg) no-repeat center center;*/
  background-color: #fff;
  background-size: cover;
  padding: 100px 0;
  min-height: 100%;
  border: 0;
  border-radius: 0;
  text-align: center;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none; }

.portfolio-modal .modal-content h1 {
  margin: 0;
  font-size: 2em;
  color: #000; }

@media only screen and (min-width: 992px) {
  .portfolio-modal .modal-content h1 {
    margin: 0;
    font-size: 3em;
    color: #000; } }
.portfolio-modal .modal-content p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #999999;
  margin: 2em;
  text-align: left;
  letter-spacing: 0.8px; }

.portfolio-modal .modal-content img {
  margin: 0; }

@media only screen and (min-width: 992px) {
  .portfolio-modal .modal-content img {
    margin: 2em; } }
.portfolio-modal .modal-content .item-details {
  margin: 30px 0; }

.portfolio-modal .close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer; }

@media only screen and (min-width: 992px) {
  .portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer; } }
.portfolio-modal .close-modal:hover {
  opacity: .3; }

.portfolio-modal .close-modal .lr {
  z-index: 1051;
  width: 3px;
  height: 30px;
  margin-left: 35px;
  background-color: #2c3e50;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.portfolio-modal .close-modal .lr .rl {
  z-index: 1052;
  width: 3px;
  height: 30px;
  background-color: #66CDA7;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0; }

#contact ul, a {
  color: #fff; }

#contact a {
  font-size: 20px; }

.fa-2x {
  color: #fff; }

/* f o o t e r */
footer {
  color: #fff; }

footer .footer-above {
  padding-top: 50px;
  background-color: #5ebca5; }

footer .footer-col {
  margin-bottom: 40px; }

footer .footer-below {
  padding: 25px 0;
  background-color: #5ebc99; }

footer h2 {
  font-size: 1.8rem;
  color: #fff; }

@media only screen and (min-width: 979px) {
  footer h2 {
    font-size: 1.6rem; } }
footer p {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #fff; }

@media only screen and (min-width: 979px) {
  footer p {
    font-size: 1.5rem; } }
#logo {
  z-index: 1;
  margin-left: calc(50% - 155px); }

body.desktop #logo {
  position: absolute;
  top: 1000px; }

body.desktop #logo.fixed {
  position: fixed;
  top: 300px; }

body.mobile #logo {
  position: absolute;
  top: 130px; }

.language {
  position: fixed;
  z-index: 2;
  text-align: right;
  top: 650px;
  margin-left: 25px; }

.language li {
  display: inline; }

/*# sourceMappingURL=style.css.map */
